-
  const buttonsValues = [
    'Rad', 'x!', '%', '(', ')', '', 'AC',
    'Deg', 'sin', 'ln', 7, 8, 9, '÷',
    'Inv', 'cos', 'log',  4, 5, 6, '×',
    'π', 'tan', '√', 1, 2, 3, '-',
    'e', 'EXP', 'xⁿ', 0, '.', '=', '+',
  ];

  const operators = /\+|\-|\÷|\(|\)|\×/g;

doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title Calculator app
    link(rel="stylesheet" href="./src/styles/app.css")
    script(type="module" src="./src/index.js")
  body
    .container
      .calculator-body
        input.output-field(type="text", value="0", readonly)
        .buttons-grid
          each buttonValue in buttonsValues
            if typeof buttonValue === 'number' || buttonValue === '.'
              button.buttons-item.numbers-theme #{buttonValue}
            else if buttonValue === '='
              button.buttons-item.equals.primary-theme #{buttonValue}
            else if buttonValue === 'AC'
              button.buttons-item.clear.primary-theme #{buttonValue}
            else if buttonValue === ''
              button.buttons-item.backspace #{buttonValue}
                include src/assets/backspace.svg
            else if typeof buttonValue === 'string' && buttonValue.search(operators) !== -1;
              button.buttons-item.operators-theme #{buttonValue}
            else if buttonValue === 'Rad'
              button.buttons-item.radians.active #{buttonValue}
            else if buttonValue === 'Deg'
              button.buttons-item.degrees #{buttonValue}
            else
              button.buttons-item #{buttonValue}